textarea:focus, input:focus {
    outline: none;
}

/* container do login */
.container-login {
    background-image: url('../../assets/login/background-Login.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* formulário */

.form-login {
    background-color: #FFF;
    padding: 40px 40px;
    border-radius: 15px;
    text-align: center;
    opacity: 0.7;
    width: 500px;
    min-width: 300px;
    box-sizing: border-box;
}

label, input, select {
    display: block;
    width: 100%;
    text-align: left;

}

label {
    margin-top: 10px;
    font-weight: bold;
    font-size: .9rem;
}

input, select{

    margin-top: 5px;
    border-bottom: 2px solid #323232;
    
    /* border: none; */
    margin-top: 3px;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
}

input:focus {
    border-radius: none;
    border: none;
    border-bottom: 2px solid black;
}

/* Botão de "Enviar" */
input[type="submitEntrar"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}

input[type="submitEntrar"]:hover {
    background-color: #1b223c;
    transition: 1s;
}

@media only screen and (min-width : 100px) {
    .form-login {
        min-width: 300px;
    }
}

@media only screen and (min-width : 420px) {
    .form-login{
        min-width: 300px;
    }
}

@media only screen and (min-width : 680px) {
    .form-login{
        min-width: 300px;
    }
}

@media only screen and (min-width : 800px) {
    .form-login{
        min-width: 300px;
    }
}

@media only screen and (min-width : 992px) {
    .form-login{
        min-width: 300px;
    }
}
