* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    color: #000;
    border: none;
}

body {
    background-image:none;
    background-color: #08558B;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    background-color:#FFF;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.7;
}

.form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input, select{
    display: block;
    width: 100%;
    text-align: left;
    
}

label {
    margin-top: 10px;
    font-weight: bold;
    font-size: .8rem;
}

input, select{
    margin-top: 5px;
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
}